@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background: url(/src/images/background.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover;    
}